@model ProjektASP.Models.Product
@{
    ViewBag.Title = "Details";
}
<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.Name)</h4>
        </dd>

        <dt>
            Kategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Dostępność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avaliable)
        </dd>
        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            @if (Model.Images != null && Model.Images.Any())
            {
                <ul>
                    @foreach (var image in Model.Images)
                    {
                        <li>
                            <img src="@Url.Content(image.ImagePath)" alt="Product Image" />
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No images</p>
            }
        </dd>

        <dt>
            Załączone pliki
        </dt>
        <dd>
            @if (Model.AttachedFiles != null && Model.AttachedFiles.Any())
            {
                <ul>
                    @foreach (var attachedFile in Model.AttachedFiles)
                    {
                        <li>
                            Nazwa pliku: @attachedFile.FileName<br />
                            Opis: @attachedFile.Description
                            <br />
                            @Html.ActionLink("Pobierz", "DownloadFile", new { id = attachedFile.Id })
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No attached files</p>
            }
        </dd>
    </dl>
</div>
<p>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-4"><input type="submit" value="Dodaj do koszyka" class="btn btn-light" /></div>
            <div class="col-lg-8"></div>
        </div>
    }

    @Html.ActionLink("Cofnij do strony głownej", "Index")
</p>